{% extends 'base.html' %}
{% load static %}

{% block content %}
<style>
 .tituloTime{
  height: 30px;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
 }
 h6{
  font-size: 30px;
  font-weight: bold;
  text-align: center;
 }
 p{
  font-size: 30px;
  font-weight: bold;
 }
 .btnsaida{
  text-decoration: none;
  color:white;
 }
 .btstart{
    text-align: center;
    align-items: center;
    font-weight: bold;
    font-size: 400%;
 }

 .btnempate{
  text-align: center;
  align-items: center;
  font-weight: bold;
  font-size: 350%;
  font-family: serif;
  text-decoration: none;
  color: black;
 }
</style>


<!--  MODAL PARA DIV SUPENSO COM A PRIORIDADE DO EMPATE -->

<!-- Modal -->
<div class="modal fade" id="modalprioridade" tabindex="-1" aria-labelledby="modalprioridadelabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">

      <div class="modal-header">
        <h5 class="modal-title" id="modalprioridadeLabel">Qual a prioridade para próximos?</h5>
        <button type="button" class="btn-close" data-dismiss="modal" aria-label="Close"></button>
      </div>
    
      <div class="modal-body"> <!-- INICIO modal-body-->
        <form method="get" class="form-inline">
          {% csrf_token %}
            <div class="row col-sm-6 col-md-6 col-lg-6">
              <a type="button"  href="?perdedor=prioridadeazul"  class="btnempate"style=" height: 100px;background-color: {{pelada.corTime01}}"></a>
            </div>
            
            <div class="row col-sm-6 col-md-6 col-lg-6">
              <a type="button" href="?perdedor=prioridadevermelho" class="btnempate" style="height: 100px; background-color: {{pelada.corTime02}} "></a>
            </div>
        </form>
      </div> <!-- FIM modal-body-->

      <div class="modal-footer">
        Escolher qual o Time com Prioridade para jogar primeiro.
      </div>

    </div>
  </div>
</div>

<!--  FINAL DA MODAL DA PRIORIDADE MODAL-->


<div class="row" style="box-shadow:0 0 5px 0px grey; padding-bottom: 20px; padding: 20px; display: flex; justify-content: center; align-items: center;" >
  <div class="col-sm-12 col-md-12 col-lg-12 text-center" style="box-shadow:0 0 5px 0px grey;">

  <h2 style="font-weight: bold; color: white; background-color: black;" class="text-center" >JOGANDO COM {{pelada.quantidade_jogadores}} JOGADORES POR TIME</h2>

  <div class="row">
    <div class="col-sm-6 col-md-6 col-lg-6 text-center" style=" background-color: {{pelada.corTime01}};color: white;">
      <h3 class="text-center" style="background-color: white; color: {{pelada.corTime01}}; border: 1px solid  {{pelada.corTime01}};"> TIME 01</h3>

      {% for jog in time_azul %}
        <p>{{jog.nome}}</p>
      {% endfor %}

    </div>   <!-- f coluna 1-->

    <div class="col-sm-6 col-md-6 col-lg-6 text-center" style="background-color: {{pelada.corTime02}};color: white;">
      <h3 class="text-center" style="background-color: white; color:{{pelada.corTime02}}; border: 1px solid  {{pelada.corTime02}};"> TIME 02</h3>

      {% for jog in time_vermelho %}
        <p>{{jog.nome}}</p>
      {% endfor %}

    </div>  <!-- f coluna 2 -->
 
  </div> <!-- row-->

</div> <!-- div sombra-->

  <div class="row text-center " style="box-shadow:0 0 5px 0px grey; padding-bottom: 20px; padding: 20px; background-color: black;" >
    <h2 style="font-weight: bold; color: black; background-color: white;" class="text-center" >TEMPORIZADOR</h2>
    <div class="col-sm-12 col-md-12 col-lg-12">
      <h2>
          <p style="font-size: 100%; color: white;">TEMPO DO JOGO: {{pelada.tempo_pelada}} Minutos<br>
            <span id="timer" style="color: red;" >
              <strong></strong>
            </span>
          </p>
      </h2>
      <a class="btn btn-success btstart" type="button" id="btnstartime" onclick="startTimer({{pelada.tempo_pelada}})" style="width: 70%; height: 100px;">INICIAR</a>
      </br>
      <a class="btn btn-danger btstart" type="button" id="btnpausetime" onclick="pauseTimer()" style="opacity: 0.7; pointer-events: none; width: 30%; height: 100px;">Pause</a>
      <a class="btn btn-warning btstart" type="button" id="btnresumetime" onclick="resumeTimer()" style="opacity: 0.7; pointer-events: none ;width: 30%; height: 100px; color: white;">Play</a>
    </div>
  </div>
  
  </br>
  <div class="row" id="divSuspenso" style="background-color: black; display:none; justify-content: center; align-items: center;" >
    <h2 style="font-weight: bold; color: black; background-color: white;" class="text-center" >JOGO FINALIZADO</h2>
    <h2 style="font-weight: bold; color: black; background-color: white;" class="text-center" >QUEM SAI?</h2>
      <div class="row col-sm-4 col-md-4 col-lg-4">
        <a type="button"  href="?perdedor=azul"  class="btnempate"style="width:90%; height: 100px;background-color: {{pelada.corTime01}}"></a>
      </div>
      <div class="row col-sm-4 col-md-4 col-lg-4">
        <button type="button" data-toggle="modal" data-target="#modalprioridade" class="btnempate" style="width:90%; height: 100px;background-color: white ">EMPATE</button>
      </div>
      <div class="row col-sm-4 col-md-4 col-lg-4">
        <a type="button" href="?perdedor=vermelho" class="btnempate" style="width:90%; height: 100px; background-color: {{pelada.corTime02}} "></a>
      </div>
      <p></p>
  </div>
<!-- toca audio quando acaba o tempo-->
  <audio id="finaljogo">
    <source src="{% static 'finaljogo.mp3' %}" type="audio/mpeg" playsinline>
    <source src="{% static 'finaljogo.ogg' %}" type="audio/ogg" playsinline>
		Seu navegador não suporta o elemento audio.
	</audio>


<div class="row" style="box-shadow:0 0 5px 0px grey; padding-bottom: 20px; padding: 20px; display: flex; justify-content: center; align-items: center;" >
  <h2 style="font-weight: bold; color: white; background-color: black;" class="text-center" >PRÓXIMOS</h2>

  <div class="row">
    <div class="row">
      <div class="col-sm-6 col-md-6 col-lg-6" style="box-shadow:0 0 5px 0px grey; ">
        <h2 class="text-center" style="background-color: black; color: white;"> TIME 01 PRÓXIMO </h2>
        <table class="table" >
          <thead>
            <tr>
              <!-- <th scope="col">POSIÇAO</th>  -->
              <th scope="col">NOME</th>
            </tr>
          </thead>
          <tbody>
            
            {% for jogador in proximos01 %}
            <tr style="font-size: 30px;">
              <!--   <th scope="row" >{{ jogador.posicao }}</th> -->
              <td >{{ jogador.nome }}</td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>


      <div class="col-sm-6 col-md-6 col-lg-6" style="box-shadow:0 0 5px 0px grey;">
        <h2 class="text-center" style="background-color: black; color: white;"> TIME 02 PRÓXIMO </h2>
        <table class="table" >
          <thead>
            <tr>
              <th scope="col">NOME</th>
            </tr>
          </thead>
          <tbody>
            
            {% for jogador in proximos02 %}
            <tr style="font-size: 30px;">
              <td >{{ jogador.nome }}</td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
    </div> <!-- FIM LINHA DAS DIVS PROXIMOS-->

    <P></P>

    <div class="row">
      <div class="col-sm-6 col-md-6 col-lg-6" style="box-shadow:0 0 5px 0px grey; padding: 20px;">
        <h2 class="text-center" style="background-color: black; color: white;"> TIME 03 PRÓXIMO </h2>
        <table class="table" >
          <thead>
            <tr>
              <th scope="col">NOME</th>
            </tr>
          </thead>
          <tbody>
            
            {% for jogador in proximos03 %}
            <tr style="font-size: 30px;">
              <td >{{ jogador.nome }}</td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>

      <div class="col-sm-6 col-md-6 col-lg-6" style="box-shadow:0 0 5px 0px grey; padding: 20px;">
        <h2 class="text-center" style="background-color: black; color: white;"> TIME 04 PRÓXIMO </h2>
        <table class="table" >
          <thead>
            <tr>
              <th scope="col">NOME</th>
            </tr>
          </thead>
          <tbody>
            
            {% for jogador in proximos04 %}
            <tr style="font-size: 30px;">
              <td >{{ jogador.nome }}</td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>

    </div>


  </div> <!-- ROW-->
  </br>
</div> <!-- sombra div-->



<script>
  let timer = null;
  let paused = false;
  let div = document.getElementById("divSuspenso");
  let divtemp = document.getElementById("divtemp");
  let updateTimer = null; // definir como variável global

  const link3 = document.getElementById('btnstartime');
  const linkpause = document.getElementById('btnpausetime');
  const linkresume = document.getElementById('btnresumetime');

  

  function startTimer(tempo) {     
    div.style.display = "none";
    disableLinkIniciar();    
    const time = tempo*60;
    let minutes = parseInt(time / 60, 10);
    let seconds = parseInt(time % 60, 10);  

    updateTimer = function() { // definir como função global
      if (paused) return;
      document.getElementById("timer").innerHTML = minutes.toString() + ":" + (seconds < 10 ? "0" : "") + seconds.toString();
      if (--seconds < 0) {
        seconds = 59;
        if (--minutes < 0) {
          clearInterval(timer);               
          playFinalJogo();
          alert("JOGO FINALIZADO!");
          div.style.display = "flex";
          divtemp.style.display = "none";
        }
      }
    };
    updateTimer();
    timer = setInterval(updateTimer, 1000);
  }

  function pauseTimer() {
    paused = true;
    playFinalJogo();
    disableLinkIniciar();    
    linkpause.style.pointerEvents = 'none';
    linkpause.style.opacity = "0.7";
    linkresume.style.pointerEvents = 'auto';
    linkresume.style.opacity = "1";
    div.style.display = "flex";
    clearInterval(timer);
  }

  function resumeTimer() {
    paused = false;
    disableLinkIniciar();    
    linkresume.style.pointerEvents = 'none';
    linkresume.style.opacity = "0.7";
    linkpause.style.pointerEvents = 'auto';
    linkpause.style.opacity = "1";
    div.style.display = "none";
    timer = setInterval(updateTimer, 1000);
  }

  // BOTAO INICIAR TEMPO
  function disableLinkIniciar() {
    linkpause.style.opacity = "1";
    linkpause.style.pointerEvents = 'auto';
    link3.style.opacity = "0.7";
    link3.style.pointerEvents = 'none';
  }
  function enableLink() {
    link3.style.pointerEvents = 'auto';
    link3.style.opacity = "1";
    linkresume.style.opacity = "0.7";
    linkpause.style.opacity = "0.7";
  }

  // BOTAO DE Pause
  function enableLinkpause() {
    linkpause.style.pointerEvents = 'auto';
    linkpause.style.opacity = "1";
    linkresume.style.pointerEvents = 'none';
    linkresume.style.opacity = "0.7";
  }
  
  // BOTAO PLAY
  function enableLinkresume() {
    linkresume.style.pointerEvents = 'auto';
    linkpause.style.opacity = "1";
    linkpause.style.pointerEvents = 'none';
    linkpause.style.opacity = "0.7";
  }

  link3.addEventListener('click', function(event) {
    if (link3.style.pointerEvents === 'none') {
      event.preventDefault();
    }
  });
  linkpause.addEventListener('click', function(event) {
    if (linkpause.style.pointerEvents === 'none') {
      event.preventDefault();
    }
  });

  linkresume.addEventListener('click', function(event) {
    if (linkresume.style.pointerEvents === 'none') {
      event.preventDefault();
    }
  });

  function playFinalJogo() {
    enableLink();
    var audio = document.getElementById("finaljogo");
    audio.play();
  }
    
</script>
    



{% endblock %}
