{% extends 'base.html' %}

{% block content %}
<style>
 .tituloTime{
  height: 30px;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
 }
 h6{
  font-size: 20px;
  text-align: center;
 }
 p{
  font-size: 20px;
  font-weight: bold;
 }
</style>

<div class="container ">

  <h1 class="text-center" style=" font-weight: bold">JOGANDO COM {{pelada.quantidade_jogadores}} JOGADORES POR TIME</h1>

  <div class="row">
    <div class="col-sm-6 col-md-6 col-lg-6" style="box-shadow:0 0 5px 0px grey; background-color: blue;color: white;">
      <h3 class="text-center"> TIME AZUL</h3>

      {% for jog in time_azul %}
        <p>{{jog.posicao}} - {{jog.nome}}</p>
      {% endfor %}

    </div>   <!-- coluna -->

    <div class="col-sm-6 col-md-6 col-lg-6" style="box-shadow:0 0 5px 0px grey; background-color: red;color: white;">
      <h3 class="text-center"> TIME VERMELHO</h3>

      {% for jog in time_vermelho %}
        <p>{{jog.posicao}} - {{jog.nome}}</p>
      {% endfor %}

    </div>  <!-- coluna -->
 
  </div> <!-- row-->



  <h2 style="padding: 20px; font-weight: bold;;" class="text-center">TEMPORIZADOR</h2>

  <div class="row text-center">
    <div class="col-sm-12 col-md-12 col-lg-12" style="box-shadow:0 0 5px 0px grey; ">
      <h2>
          <p>Tempo restante:
            <span id="timer" >{{pelada.tempo_pelada}}
            </span>
          </p>
      </h2>
      <button class="btn btn-success" id="reset">Reset Tempo</button>
    <p></p>
    </div>
  </div>
</br>


<h2 style="padding: 20px; font-weight: bold;" class="text-center">PRÓXIMOS</h2>

  <div class="row text-center">
    <div class="col-sm-12 col-md-12 col-lg-12" style="box-shadow:0 0 5px 0px grey; ">
      {{jogadores}}

    </div>
  </div>
</br>


</div> <!-- container-->




<script>
	var timerInterval;
	

	function startTimer(duration, display) {
		var timer = duration, minutes, seconds;
		timerInterval = setInterval(function () {
			minutes = parseInt(timer / 60, 10);
			seconds = parseInt(timer % 60, 10);

			minutes = minutes < 10 ? "0" + minutes : minutes;
			seconds = seconds < 10 ? "0" + seconds : seconds;

			display.textContent = minutes + ":" + seconds;

			if (--timer < 0) {
				clearInterval(timerInterval);
				display.textContent = "Time's up!";
			}
		}, 1000);
	}

	function resetTimer(duration, display) {
		clearInterval(timerInterval);
		display.textContent = duration / 60 + ":00";
		startTimer(duration, display);
	}

	window.onload = function () {
		var duration = {{pelada.tempo_pelada}}*60
			display = document.querySelector('#timer');
		startTimer(duration, display);

		var resetButton = document.querySelector('#reset');
		resetButton.onclick = function() {
			resetTimer(duration, display);
		}
	};
  </script>

{% endblock %}
