{% extends 'base.html' %}

{% block content %}
<style>
 .tituloTime{
  height: 30px;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
 }
 h6{
  font-size: 20px;
  text-align: center;
 }
 p{
  font-size: 20px;
  font-weight: bold;
 }
 .btnsaida{
  text-decoration: none;
  color:white;
 }
 .btstart{
    text-align: center;
    align-items: center;
    font-weight: bold;
    font-size: 400%;
 }
</style>

<div class="row" style="margin-top: 300px ;box-shadow:0 0 5px 0px grey; padding-bottom: 20px; padding: 20px; display: flex; justify-content: center; align-items: center;" >
  <div class="col-sm-12 col-md-12 col-lg-12 text-center" style="box-shadow:0 0 5px 0px grey;">

  <h2 style="font-weight: bold; color: white; background-color: black;" class="text-center" >JOGANDO COM {{pelada.quantidade_jogadores}} JOGADORES POR TIME</h2>

  <div class="row">
    <div class="col-sm-6 col-md-6 col-lg-6 text-center" style=" background-color: blue;color: white;">
      <h3 class="text-center" style="background-color: white; color: blue; border: 1px solid blue;"> TIME AZUL</h3>

      {% for jog in time_azul %}
        <p>{{jog.nome}}</p>
      {% endfor %}

    </div>   <!-- f coluna 1-->

    <div class="col-sm-6 col-md-6 col-lg-6 text-center" style="background-color: red;color: white;">
      <h3 class="text-center" style="background-color: white; color: red; border: 1px solid red;"> TIME VERMELHO</h3>

      {% for jog in time_vermelho %}
        <p>{{jog.nome}}</p>
      {% endfor %}

    </div>  <!-- f coluna 2 -->
 
  </div> <!-- row-->

</div> <!-- div sombra-->

  <div class="row text-center " style="box-shadow:0 0 5px 0px grey; padding-bottom: 20px; padding: 20px; background-color: black;" >
    <h2 style="font-weight: bold; color: black; background-color: white;" class="text-center" >TEMPORIZADOR</h2>
    <div class="col-sm-12 col-md-12 col-lg-6">
      <h2>
          <p style="font-size: 200%; color: white;">TEMPO RESTANTE<br>
            <span id="timer" style="color: red;" >
              <strong>{{pelada.tempo_pelada}}</strong>
            </span> Minuto(s)
          </p>           
      </h2>
      <a class="btn btn-success btstart" type="button" id="btnstartime" onclick="startTimer({{pelada.tempo_pelada}})" style="width:70%; height: 100px;">INICIAR</a>
      
    </div>

    <div class="col-sm-12 col-md-12 col-lg-6" style=" padding: 40px; display: flex; justify-content: center; align-items: center;">
      
        <a type="button" id='btnbluesai' href="?perdedor=azul" class="btnsaida" style="width:40%; height: 100px;background-color: blue"></a>

        <div style="width:40%; padding-left: 10px; padding-right: 5px;">
          <h3 style="font-weight: bold; background-color: black; color: white;">
              QUEM SAI?
          </h3>
        <label style="color: white;">(Empate, clica nas 2 cores)</label>

        </div>


        <a type="button" id='btnredsai' href="?perdedor=vermelho" class="btnsaida" style="width:40%; height: 100px;background-color: red "></a>

    </div>

  </div>
</br>


<div class="row" style="box-shadow:0 0 5px 0px grey; padding-bottom: 20px; padding: 20px;" >
  <h2 style="font-weight: bold; color: white; background-color: black;" class="text-center" >PRÓXIMOS</h2>

    <div class="row">
      <div class="col-sm-12 col-md-12 col-lg-12" style="box-shadow:0 0 5px 0px grey; ">
        <table class="table table-striped" >
          <thead>
            <tr>
              <th scope="col">POSIÇAO</th>
              <th scope="col">NOME</th>
            </tr>
          </thead>
          <tbody>
            {% for jogador in proximos %}
              <tr style="font-size: 30px;">
                <th scope="row" >{{ jogador.posicao }}</th>
                <td >{{ jogador.nome }}</td>
                {% endfor %}
              </tr>
          </tbody>
        </table>
      </div>
    </div>
  </br>
</div>
</div>


<script>
	const timer = null;
  //let timerInterval;
  
  //const link = document.getElementById('btnbluesai');  
  //const link2 = document.getElementById('btnredsai');
  const link3 = document.getElementById('btnstartime');

		function startTimer(tempo) {     
      disableLink();
			var time = tempo*60;
			var minutes = parseInt(time / 60, 10);
			var seconds = parseInt(time % 60, 10);  

      function updateTimer() {
        document.getElementById("timer").innerHTML = minutes.toString() + ":" + (seconds < 10 ? "0" : "") + seconds.toString();
        if (--seconds < 0) {
          seconds = 59;
          if (--minutes < 0) {
            clearInterval(timer);
            //ativando o botao redsai
            enableLink()
            alert("JOGO FINALIZADO!");
          }
        }
      }
  
      updateTimer();
      timer = setInterval(updateTimer, 1000);
    }

    

    function disableLink() {
      // link.style.pointerEvents = 'none';
      // link2.style.pointerEvents = 'none';
      link3.style.pointerEvents = 'none';
    }

    function enableLink() {
      // link.style.pointerEvents = 'auto';
      // link2.style.pointerEvents = 'auto';
      link3.style.pointerEvents = 'auto';
    }

    link.addEventListener('click', function(event) {
      if (link.style.pointerEvents === 'none') {
        event.preventDefault();
      }
    });
    link2.addEventListener('click', function(event) {
      if (link2.style.pointerEvents === 'none') {
        event.preventDefault();
      }
    });
    link3.addEventListener('click', function(event) {
      if (link3.style.pointerEvents === 'none') {
        event.preventDefault();
      }
    });
  </script>

{% endblock %}
