{% extends 'base.html' %}

{% block content %}
<style>
 h6{
    text-align: center;
    color:brown;
    text-decoration: solid;
 }
</style>

  <div class="row text-center">
    <h5>PROCEDIMENTOS PARA UTILIZAÇÃO</h5>
  </div>

  <div class="row" style="padding: 20px;">

    <div class="col-md-1"></div>

    <div class="col-md-4" style="box-shadow:0 0 5px 0px grey;">
        </br>
        <h6>JOGADOR</h6>
        <p>Na opção de cadastro de jogadores, é possivel cadastrar e excluir os jogadores.</p>
        <p>É necessário o cadastro de jogadores para utiizaçao da aplicação.</p>
    </div>

    <div class="col-md-1"></div>

    <div class="col-md-4"    <div class="col-md-5" style="box-shadow:0 0 5px 0px grey;">
        </br>
        <h6>PELADA</h6>
        <p>Na Opção de cadastro de pelada é necessário fazer a configuração do jogo atual.</p>
        <p>Uma observação inportante é que ao acessar essa página, a configuração anteror será perdida juntamente com informações de Times criados</p>
    </div>

  </div>


  <div class="row" style="padding: 20px;">

    <div class="col-md-1"></div>

    <div class="col-md-4" style="box-shadow:0 0 5px 0px grey;">
        </br>
        <h6>TIME</h6>
        <p>Na página de cofigurações dos times deve ser criado cada time, definindo o nome, cor e os jogadores.</p>
        <p>Os Jogadores podem ser selecionados aleatoriamente ou manualmente.</p>
        <p>Não é possivel alterar os times, sendo necessário a exclusao e nova configuração.</p>
    </div>

    <div class="col-md-1"></div>

    <div class="col-md-4"    <div class="col-md-5" style="box-shadow:0 0 5px 0px grey;">
        </br>


    </div>

  </div>

  
{% endblock %}
