<!DOCTYPE html>
<html>
<head>
	<title>Temporizador</title>
	<script>
		var countDownDate;
		var x;

		function startTimer() {
			countDownDate = new Date().getTime() + 60000; // Define o tempo em milissegundos
			x = setInterval(function() {
				var now = new Date().getTime();
				var distance = countDownDate - now;
				var minutes = Math.floor((distance % (1000 * 60 * 60)) / (1000 * 60));
				var seconds = Math.floor((distance % (1000 * 60)) / 1000);
				document.getElementById("temporizador").innerHTML = minutes + "m " + seconds + "s ";
				if (distance < 0) {
					clearInterval(x);
					document.getElementById("temporizador").innerHTML = "Tempo acabou!";
					// Adicione aqui a lógica para mostrar o menu de inserção do placar do jogo
				}
			}, 1000);
		}
	</script>
</head>
<body>
	<h1>Temporizador</h1>
	<p id="temporizador"></p>
	<a onclick="startTimer()" type="button" style="font-size: 200%;">INICIARf</a>


	<h1>Placar do Jogo</h1>
	<form>
		<label for="time1">Time AZUL</label>
		<input type="number" id="placar1" name="placar1"><br><br>

		<label for="time2">Time VERMELHO</label>
		<input type="number" id="placar2" name="placar2"><br><br>


		<label for="placar2">Placar do Time 2:</label>
		<input type="submit" value="Salvar">
	</form>
</body>
</html>
