{% extends 'baseIns.html' %}

{% block content %}
<style>
 h6{
    text-align: center;
    color:brown;
    text-decoration: solid;
    font-size: 2em;
 }
 p{
  font-size: 130%;
  text-align: justify;
 }
</style>


<div class="container">

  <div class="row text-center">
  </div>

  <div class="row" style="padding: 20px;">


    <div class="col-sm-12 col-md-12 col-lg-6">
      <div class="card text-center">
        <a href="/startgamecadastrar_time" style="text-decoration:none">
          <h2>StartGame</h2>
          <p>Descrição</p>
        </a>
      </div>
    </div>

   

    <div class="col-sm-12 col-md-12 col-lg-6">
      <div class="card text-center">
        <a href="/notaseasy" style="text-decoration:none">
          <h2>SaveNFCe</h2>
          <p>Descrição</p>
        </a>
      </div>
    </div>



  </div>
</div>

  
{% endblock %}
